 <section class="header">
            <div class="container">
                <nav class="navbar clearfix">
                    <div class="navbar-brand">
                        <a href="#"><img src="images/logo.png" alt="Freshy logo"></a>
                    </div>
                    <a href="#navbar-collapse" class="navbar-toggler">
                                <span class="ico-bar"></span>
                                <span class="ico-bar"></span>
                                <span class="ico-bar"></span>
                                      </a>
                    <div class="navbar-collapse" id="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="navbar__item"><a href="#" class="navbar_link">Home</a></li>
                            <li class="navbar__item"><a href="#" class="navbar_link">O NAS</a></li>
                            <li class="navbar__item"><a href="#" class="navbar_link">ASORTYMENT </a></li>
                            <li class="navbar__item"><a href="#" class="navbar_link">WSPÓŁPRACA</a></li>
                            <li class="navbar__item"><a href="#" class="navbar_link">KONTAKT</a></li>
                            <button class="button button_extra-small"><a href="#" class="btn-border">TEL. 500 110 110</a></button>
                        </ul>
                    </div>
                </nav>
                <div class="slider-header">
                <div class="header-body">
                    <div class="header-title">ŚWIEŻE RYBY</div>
                    <div class="header-description">
                        Zobacz, co jeszcze oferujemy!
                    </div>
                </div>
                 <div class="header-body">
                    <div class="header-title">ŚWIEŻE RYBY</div>
                    <div class="header-description">
                        Zobacz, co jeszcze oferujemy!
                    </div>
                </div>
                 <div class="header-body">
                    <div class="header-title">ŚWIEŻE RYBY</div>
                    <div class="header-description">
                        Zobacz, co jeszcze oferujemy!
                    </div>
                </div>
                 <div class="header-body">
                    <div class="header-title">ŚWIEŻE RYBY</div>
                    <div class="header-description">
                        Zobacz, co jeszcze oferujemy!
                    </div>
                </div>
            </div>
            </div>
        </section>