<footer class="footer">
            <button class="button button-up" id="scrollup">
                <div class="button-up-icon"><span class="icon-keyboard-arrow-right"></span></div>
            </button>
            <div class="container">
                <div class="footer-top">
                    <div class="footer-top-first">
                        <ul class="footer-top-list">
                            <li class="footer-top-list-title">O NAS</li>
                            <li class="footer-top-list-item"><a href="#" class="footer-top-list-item-link">O nas</a></li>
                            <li class="footer-top-list-item"><a href="#" class="footer-top-list-item-link">Asortyment</a></li>
                            <li class="footer-top-list-item"><a href="#" class="footer-top-list-item-link">Współpraca</a></li>
                            <li class="footer-top-list-item"><a href="#" class="footer-top-list-item-link">Kontakt</a></li>
                        </ul>
                        <ul class="footer-top-list">
                            <li class="footer-top-list-title">WSPÓŁPRACA</li>
                            <li class="footer-top-list-item"><a href="#" class="footer-top-list-item-link">Warunki współpracy</a></li>
                            <li class="footer-top-list-item"><a href="#" class="footer-top-list-item-link">Cennik</a></li>
                            <li class="footer-top-list-item"><a href="#" class="footer-top-list-item-link">Umowy</a></li>
                            <li class="footer-top-list-item"><a href="#" class="footer-top-list-item-link">Dostawy</a></li>
                        </ul>
                    </div>
                    <div class="footer-top-first">
                        <ul class="footer-top-list">
                            <li class="footer-top-list-title">GODZINY OTWARCIA</li>
                            <li class="footer-top-list-item"><b>Pon. - Wt.</b> 6:00 - 19:00</li>
                            <li class="footer-top-list-item"><b>Śr. - Pt.</b> 6:00 - 18:00</li>
                            <li class="footer-top-list-item"><b>Sobota</b> 6:00 - 16:00</li>
                            <li class="footer-top-list-item"><b>Niedziela i święta</b> 7:00 - 14:00</li>
                        </ul>
                        <ul class="footer-top-list">
                            <li class="footer-top-list-title">KONTAKT</li>
                            <li class="footer-top-list-item">ul. Upalna 99</li>
                            <li class="footer-top-list-item">15-600 Białystok</li>
                            <li class="footer-top-list-item">tel.<b> 500 110 110</b></li>
                            <li class="footer-top-list-item">e-mail <b>sklep@swiezeryby.com</b></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-holder">
                        <div class="footer-bottom-copyrights">Ⓒ SWIEZERYBY.COM 2016</div>
                        <div class="footer-bottom-gore">W GÓRĘ</div>
                    </div>
                </div>
            </div>
        </footer>